/*madera oscuro EED09D
madera claro D5FEAB

*/
@media (min-width: 0px){
*{
  margin: 0px;
}
body {
  margin: 0px;
  font-family: 'Gluten', cursive;
}

.encabezado{
  display: flex;
  background-color:lightgray;
  
}

.menu{
  display: flex;
  justify-content: space-around;
}

.encabezado .logo{
  width: 40%;

}

.encabezado .menu{
width: 90%;
margin: auto;

}


.titulo{

  font-family: Arial, Helvetica, sans-serif;
  font-size:25px;
  margin-top: 15px;
  
  width: 50%;
  
}

.contactanos button, .sobre button, .crear button, .iniciar button{
  padding: 5px;
  background-color:lightgrey;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);    
  font-size: 15px;
  font-weight:500;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
  
  
}

.contactanos button:hover, .sobre button:hover, .crear button:hover, .iniciar button:hover{

 
  background-color: gray;
}



.cuerpo{
  background: url("finanzas.jpg");
  background-size: cover;
  border: 1px solid black;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: space-around;
  
}
.bodyProfile{
  background: url("finanzas.jpg");
  background-size: cover;
  width: 100%;
  height: 720px;
}
.list{
  display: flex;
  margin: auto;
}
.list th, .list td{

  border: 1px solid black;
  height: 15px;
  width: 70px;
  text-align: center;
  font-size: 10px;
}
.incoming{

margin: auto;
font-family: Arial, Helvetica, sans-serif;
font-size: 39px;
font-weight: bold;
text-align: center;
}
.list th{

  background-color: grey;
}

.list td{

  background-color: lightgrey;
}
.buttonEdit{
  background-color: lightseagreen;
  font-weight: bold;
  border: 1px solid black;
  height: 19px;
  width: 74px;
  font-size: 10px;
  text-align: center;
}
.client, .balance{
  margin: auto;
  width: 40%;  
  margin-top: 30px;
  font-size: 17px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif

}

.table{
  margin: auto;
  margin-top: 30px;
}


.navProfile{
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 30px;
}

.nota{
width: 600px;
height: 400px;
border: black 2px solid;
background-color: #D5FEAB;
border-radius: 15px;
margin-top: 90px;
box-shadow: 15px 15px 15px 15px rgba(0, 0, 0, 0.8);

}

.notaInicia{
  width: 300px;
  height: 280px;
  border: black 2px solid;
  background-color: lightgray;
  border-radius: 15px;   
  position: absolute;
  top:25%;
  left: 15%;
  box-shadow: 15px 15px 15px 15px rgba(0, 0, 0, 0.8);    
  }

  .notaInicia2{
  width: 300px;
  height: 380px;
  border: black 2px solid;
  background-color: lightgray;
  border-radius: 15px;   
  position: absolute;
  top:25%;
  left: 15%;
  box-shadow: 15px 15px 15px 15px rgba(0, 0, 0, 0.8);  


  }

  .subdel{
    display: flex;
    width: 50%;
    justify-content: space-between;
    

  }

  .primero{
    
    margin-top: 35px;
    padding: 10px;
    background-color: green;
  }
  .segundo{
    
    margin-top: 35px;
    padding: 10px;
    background-color: red;
  }


  .bodyNota{
    background: url("finanzas.jpg");
  background-size: cover;
  width: 100%;
  height: 720px;

  }
  .divSelect{
    display: flex;
    margin-top: 8px;
    margin-bottom: 15px;
  }
  .divSelect select{
    background-color: grey;
  }
  .buttonSubmit{

    padding:5px;
    background-color: green;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-top: 1px;
  }

  .formInicia{
    
    display: flex;
    flex-direction: column;
    align-items:center;
    padding-top: 10px;
    margin-top: 15px;
  }
  .formInicia label{
    margin-top: 5px;
    font-weight: bold;
  }

  .formInicia input{
    background-color: grey;
    width: 80%;
    height: 25px;
  }  

.logo{
  display: none;
  margin-left: 5px;
  width: 200px;
  height: 120px;
  padding-top: 5px;

}  
.boton_formulario{

  background-color:#EED09D;
  border: none;
  border-radius: 15px;
}  

.botonesCrearCuenta{
  display: flex;
  justify-content: space-around;
}

}


  
  @media (min-width: 600px){
    *{
      margin: 0px;
    }
    body {
      margin: 0px;
      font-family: 'Gluten', cursive;
    }
    
    .encabezado{
      display: flex;
      background-color:white;
      
    }
    
    .menu{
      display: flex;
      justify-content: space-around;
    }
    
    .encabezado .logo{
      width: 40%;
    
    }
    
    .encabezado .menu{
    width: 90%;
    margin: auto;
    
    }
    
    
    .titulo{
  
      font-family: Arial, Helvetica, sans-serif;
      font-size: 45px;
      margin-top: 15px;
      
    }
    
    .contactanos button, .sobre button, .crear button, .iniciar button{
      padding: 10px;
      background-color:lightgrey;
      border-radius: 5px;
      box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);    
      font-size: 20px;
      font-weight:500;
      font-family: Arial, Helvetica, sans-serif;
      margin-top: 20px;
      
    }
    
    .contactanos button:hover, .sobre button:hover, .crear button:hover, .iniciar button:hover{
    
     
      background-color: gray;
    }
    
    
    
    .cuerpo{
      background: url("finanzas.jpg");
      background-size: cover;
      border: 1px solid black;
      width: 100%;
      height: 600px;
      display: flex;
      justify-content: space-around;
      
    }
    .bodyProfile{
      background: url("finanzas.jpg");
      background-size: cover;
      width: 100%;
      height: 720px;
    }
    .list{
      display: flex;
      margin: auto;
    }
    .list th, .list td{
      font-size: 15px;
      border: 1px solid black;
      height: 20px;
      width: 120px;
      text-align: center;
    }
   .incoming{
    
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 39px;
    font-weight: bold;
    text-align: center;
   }
    .list th{
  
      background-color: grey;
    }
  
    .list td{
  
      background-color: lightgrey;
    }
    .buttonEdit{
      background-color: lightseagreen;
      font-weight: bold;
      border: 1px solid black;
      height: 24px;
      width: 125px;
      font-size: 15px;
      text-align: center;
    }
    .client, .balance{
      margin: auto;
      width: 20%;
      text-align: center;
      margin-top: 35px;
      font-size: 30px;
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif
  
    }
    .table{
      margin: auto;
      margin-top: 30px;
    }
    
  
    .navProfile{
      display: flex;
      justify-content: space-between;
      margin-left: 30px;
      margin-right: 30px;
    }
    
    .nota{
    width: 600px;
    height: 400px;
    border: black 2px solid;
    background-color: #D5FEAB;
    border-radius: 15px;
    margin-top: 90px;
    box-shadow: 15px 15px 15px 15px rgba(0, 0, 0, 0.8);
    
    }
    
    .notaInicia{
      width: 400px;
      height: 280px;
      border: black 2px solid;
      background-color: lightgray;
      border-radius: 15px;   
      position: absolute;
      top:25%;
      left: 30%;
      box-shadow: 15px 15px 15px 15px rgba(0, 0, 0, 0.8);    
      }
  
      .notaInicia2{
      width: 400px;
      height: 380px;
      border: black 2px solid;
      background-color: lightgray;
      border-radius: 15px;   
      position: absolute;
      top:25%;
      left: 20%;
      box-shadow: 15px 15px 15px 15px rgba(0, 0, 0, 0.8);  
  
  
      }
  
      .subdel{
        display: flex;
        width: 50%;
        justify-content: space-between;
        
  
      }
  
      .primero{
        
        margin-top: 35px;
        padding: 10px;
        background-color: green;
      }
      .segundo{
        
        margin-top: 35px;
        padding: 10px;
        background-color: red;
      }
  
  
      .bodyNota{
        background: url("finanzas.jpg");
      background-size: cover;
      width: 100%;
      height: 720px;
    
      }
      .divSelect{
        display: flex;
        margin-top: 8px;
        margin-bottom: 15px;
      }
      .divSelect select{
        background-color: grey;
      }
      .buttonSubmit{
  
        padding:5px;
        background-color: green;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        font-weight: bold;
        margin-top: 1px;
      }
  
      .formInicia{
        
        display: flex;
        flex-direction: column;
        align-items:center;
        padding-top: 10px;
        margin-top: 15px;
      }
      .formInicia label{
        margin-top: 5px;
        font-weight: bold;
      }
  
      .formInicia input{
        background-color: grey;
        width: 70%;
        height: 25px;
      }  
    
    .logo img{
      
      width: 200px;
      height: 125px;
      margin-left: -5px;
      margin-top: -5px;
  
    }  
    .logo {
      display: block;
  
    }  
    .boton_formulario{
    
      background-color:#EED09D;
      border: none;
      border-radius: 15px;
    }  
    
    .botonesCrearCuenta{
      display: flex;
      justify-content: space-around;
    }
    
  
  }

  @media (min-width: 900px){
    *{
      margin: 0px;
    }
    body {
      margin: 0px;
      font-family: 'Gluten', cursive;
    }
    
    .encabezado{
      display: flex;
      background-color:white;
      
    }
    
    .menu{
      display: flex;
      justify-content: space-around;
    }
    
    .encabezado .logo{
      width: 40%;
    
    }
    
    .encabezado .menu{
    width: 90%;
    margin: auto;
    
    }
    
    
    .titulo{
  
      font-family: Arial, Helvetica, sans-serif;
      font-size: 45px;
      margin-top: 15px;
      
    }
    
    .contactanos button, .sobre button, .crear button, .iniciar button{
      padding: 10px;
      background-color:lightgrey;
      border-radius: 5px;
      box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);    
      font-size: 20px;
      font-weight:500;
      font-family: Arial, Helvetica, sans-serif;
      margin-top: 20px;
      
    }
    
    .contactanos button:hover, .sobre button:hover, .crear button:hover, .iniciar button:hover{
    
     
      background-color: gray;
    }
    
    
    
    .cuerpo{
      background: url("finanzas.jpg");
      background-size: cover;
      border: 1px solid black;
      width: 100%;
      height: 600px;
      display: flex;
      justify-content: space-around;
      
    }
    .bodyProfile{
      background: url("finanzas.jpg");
      background-size: cover;
      width: 100%;
      height: 720px;
    }
    .list{
      display: flex;
      margin: auto;
    }
    .list th, .list td{
      font-size: 20px;
      border: 1px solid black;
      height: 30px;
      width: 200px;
      text-align: center;
    }
   .incoming{
    
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 39px;
    font-weight: bold;
    text-align: center;
   }
    .list th{
  
      background-color: grey;
    }
  
    .list td{
  
      background-color: lightgrey;
    }
    .buttonEdit{
      background-color: lightseagreen;
      font-weight: bold;
      border: 1px solid black;
      height: 34px;
      width: 203px;
      font-size: 15px;
      text-align: center;
    }
    .client, .balance{
      margin: auto;
      width: 20%;
      text-align: center;
      margin-top: 35px;
      font-size: 30px;
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif
  
    }
    .table{
      margin: auto;
      margin-top: 30px;
    }
    
  
    .navProfile{
      display: flex;
      justify-content: space-between;
      margin-left: 30px;
      margin-right: 30px;
    }
    
    .nota{
    width: 600px;
    height: 400px;
    border: black 2px solid;
    background-color: #D5FEAB;
    border-radius: 15px;
    margin-top: 90px;
    box-shadow: 15px 15px 15px 15px rgba(0, 0, 0, 0.8);
    
    }
    
    .notaInicia{
      width: 600px;
      height: 280px;
      border: black 2px solid;
      background-color: lightgray;
      border-radius: 15px;   
      position: absolute;
      top:25%;
      left: 30%;
      box-shadow: 15px 15px 15px 15px rgba(0, 0, 0, 0.8);    
      }
  
      .notaInicia2{
      width: 600px;
      height: 380px;
      border: black 2px solid;
      background-color: lightgray;
      border-radius: 15px;   
      position: absolute;
      top:25%;
      left: 30%;
      box-shadow: 15px 15px 15px 15px rgba(0, 0, 0, 0.8);  
  
  
      }
  
      .subdel{
        display: flex;
        width: 50%;
        justify-content: space-between;
        
  
      }
  
      .primero{
        
        margin-top: 35px;
        padding: 10px;
        background-color: green;
      }
      .segundo{
        
        margin-top: 35px;
        padding: 10px;
        background-color: red;
      }
  
  
      .bodyNota{
        background: url("finanzas.jpg");
      background-size: cover;
      width: 100%;
      height: 720px;
    
      }
      .divSelect{
        display: flex;
        margin-top: 8px;
        margin-bottom: 15px;
      }
      .divSelect select{
        background-color: grey;
      }
      .buttonSubmit{
  
        padding:5px;
        background-color: green;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        font-weight: bold;
        margin-top: 1px;
      }
  
      .formInicia{
        
        display: flex;
        flex-direction: column;
        align-items:center;
        padding-top: 10px;
        margin-top: 15px;
      }
      .formInicia label{
        margin-top: 5px;
        font-weight: bold;
      }
  
      .formInicia input{
        background-color: grey;
        width: 50%;
        height: 25px;
      }  
    
      .logo img{
      
        width: 250px;
        height: 125px;
        margin-left: -5px;
        margin-top: -5px;
    
      }  
    .boton_formulario{
    
      background-color:#EED09D;
      border: none;
      border-radius: 15px;
    }  
    
    .botonesCrearCuenta{
      display: flex;
      justify-content: space-around;
    }
    
  
  }
